<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:axon="http://www.axonframework.org/schema/core"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.axonframework.org/schema/core http://www.axonframework.org/schema/axon-core-2.4.xsd
                           http://www.springframework.org/schema/context
						   http://www.springframework.org/schema/context/spring-context.xsd">
 
 
 	<context:component-scan base-package="com.xh" />
 	<axon:annotation-config />

    <axon:command-bus id="commandBus" />
    <axon:event-bus id="eventBus"/>
 
 	<axon:snapshotter id="snapshotter" />
 	
    <axon:event-sourcing-repository id="userRepository"
                                    aggregate-type="com.ibs.axom.user.model.User" 
                                    event-store="eventStore">
                                    	<axon:snapshotter-trigger event-count-threshold="10" snapshotter-ref="snapshotter"/>
                                    </axon:event-sourcing-repository>
                                    
	<axon:aggregate-command-handler id="toDoUserHandler"
                                    aggregate-type="com.ibs.axom.user.model.User"
                                    repository="userRepository"
                                    command-bus="commandBus"/>
                                    
 
 
    <axon:filesystem-event-store id="eventStore" base-dir="c:/Work/event/user"/>
 
    <bean id="commandGateWay" class="org.axonframework.commandhandling.gateway.CommandGatewayFactoryBean">
        <property name="commandBus" ref="commandBus"/>
        <property name="gatewayInterface" value="com.ibs.axom.user.model.IUserService"/>
    </bean>
    
 
</beans>
